## Data Types and Structures Questions

1. What are data structures, and why are they important?
    
    -> In Python, data structures are used to store and organize data so that it can be used efficiently. Python has built-in data structures and also allows you to create custom data structures using classes and modules.
    
    Why Are Data Structures Important in Python?
    
*  Efficient Coding: Choosing the right data structure can make your  program faster and cleaner.
* Simplicity: Python’s built-in data structures are easy to use and very powerful.
* Support for Algorithms: Many algorithms work best with specific data structures.
* Real-world Applications: From web development to data science, managing data properly is essential.

In [ ]:
#2.  Explain the difference between mutable and immutable data types with examples?

# -> MUTABLE DATA TYPES.
# Mutable objects can be changed after they are created.
# Example:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

# IMMUTABLE DATA TYPES.
# Immutable objects cannot be changed once they are created. If you try to modify them, Python creates a new object.
# Example:
name = "Kirti"
new_name = "M" + name[1:]
print(new_name)

[10, 2, 3]
Mirti

3. What are the main differences between lists and tuples in Python?

  
1. **Mutability**:
   - **List**: Lists are *mutable*, which means their elements can be changed, added, or removed after the list is created.
   - **Tuple**: Tuples are *immutable*, meaning once a tuple is created, its contents cannot be altered.

2. **Syntax**:
   - **List**: Defined using square brackets `[]`.  
     Example: `my_list = [1, 2, 3]`
   - **Tuple**: Defined using parentheses `()`.  
     Example: `my_tuple = (1, 2, 3)`

3. **Performance**:
   - Tuples are generally *faster* than lists because of their immutability.
   - This makes tuples more efficient in situations where a constant set of values is needed.

4. **Methods Available**:
   - **Lists** have more built-in methods such as `append()`, `remove()`, `pop()`, and `sort()` because they are designed for dynamic operations.
   - **Tuples** have fewer methods, mainly `count()` and `index()`, due to their immutable nature.

5. **Use Cases**:
   - **List**: Used when the collection of data may need to be modified (e.g., adding or removing elements).
   - **Tuple**: Used when the data should remain constant throughout the program (e.g., representing fixed values like coordinates or days of the week).

6. **Memory Consumption**:
   - Tuples consume *less memory* compared to lists, which makes them preferable in cases where memory optimization is important.

4.Describe how dictionaries store data.

   -> Dictionaries in Python store data using key-value pairs, with hashing used internally for efficient access. They are ideal for situations where you need to associate a unique identifier (key) with some data (value), like storing student records, configuration settings, etc.

5. Why might you use a set instead of a list in Python?

   -> In Python, you might use a set instead of a list when you want to store only unique elements, since sets automatically remove duplicates. Sets are also faster than lists when it comes to checking if an item exists, because they use hashing for lookups. Additionally, sets support useful operations like union, intersection, and difference, which makes them ideal for comparing or combining collections of data. Unlike lists, sets are unordered, so they’re best used when the order of elements doesn’t matter.

6. What is a string in Python, and how is it different from a list?

    -> In Python, a string is a sequence of characters enclosed within single (') or double (") quotes, like 'Hello' or "Python". It is used to represent text data.

    The main difference between a string and a list is that a string is immutable, meaning its characters cannot be changed after it is created, while a list is mutable and allows changes to its elements. Also, although both are sequences and support indexing, slicing, and iteration, a string can only contain characters, whereas a list can hold elements of any data type, such as numbers, strings, or even other lists.

    For example, in a string "cat", you can access each character using an index ("cat"[0] gives 'c'), but you can't modify it directly. In a list ['c', 'a', 't'], you can change elements (my_list[0] = 'b'), making it 'bat'.

7. How do tuples ensure data integrity in Python?

    -> In Python, tuples ensure data integrity by being immutable, meaning their contents cannot be changed after creation. Once you create a tuple, you cannot modify, add, or remove any elements from it. This immutability protects the data from accidental or intentional modification during the program's execution.

8. What is a hash table, and how does it relate to dictionaries in Python?
  
    -> A hash table is a data structure that stores data in an associative manner, meaning it maps keys to values using a process called hashing. Hashing involves passing the key through a hash function that converts it into a unique index in memory where the corresponding value is stored.

    In Python, the dictionary (dict) is implemented using a hash table internally. When you create a dictionary, each key is hashed to determine where its value will be stored in memory. This allows dictionaries to provide very fast access, insertion, and deletion — typically in constant time (O(1)).

9. Can lists contain different data types in Python?

    -> Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, and even other lists or objects.

10. Explain why strings are immutable in Python.

    -> Strings are immutable in Python because once a string is created, its contents cannot be changed. This design makes strings memory-efficient, secure, and reliable for consistent data handling.

11. What advantages do dictionaries offer over lists for certain tasks?

    -> Dictionaries provide fast access (O(1) time) using keys, allow meaningful labels (keys) for values, and are ideal for representing structured data, making them more efficient than lists for lookup-based tasks.

12. Describe a scenario where using a tuple would be preferable over a list.

    -> Tuples are preferable when the data should not change, such as storing the days of the week, fixed GPS coordinates, or constant configuration values. Their immutability ensures data integrity.

13.  How do sets handle duplicate values in Python?

    -> Sets automatically remove duplicate values. When you add duplicates to a set, only one instance of each unique value is stored.

14. How does the “in” keyword work differently for lists and dictionaries?

    -> In a list, the in keyword checks if a value exists among the elements. In a dictionary, it checks whether a key (not a value) exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.

    -> No, tuples are immutable, so their elements cannot be modified once the tuple is created. This protects the data from accidental changes.

16. What is a nested dictionary, and give an example of its use case?

    -> A nested dictionary is a dictionary that contains another dictionary as its value.
    Example:
    student = {"name": "Kirti", "marks": {"math": 90, "science": 85}}

17. Describe the time complexity of accessing elements in a dictionary.

   -> The average time complexity for accessing elements in a dictionary is O(1) due to the use of hashing.

18. In what situations are lists preferred over dictionaries?

    -> Lists are preferred when the order of items matters, or when you need to store items without key-value pairs, such as a sequence of steps or a collection of values without labels.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    -> Dictionaries were unordered before Python 3.7, meaning their items didn’t follow insertion order. From Python 3.7+, they maintain insertion order, but conceptually they still don’t rely on order for data retrieval — access is based on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    -> In a list, data is retrieved by index (position), while in a dictionary, data is retrieved by key. Lists are useful for ordered collections; dictionaries are better for quick lookups by labels.

#### Practical Questions

In [ ]:
#1.Write a code to create a string with your name and print it.
name = "Kirti"
print(name)

Kirti

In [ ]:
#2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [17]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [18]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [19]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [20]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [21]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [22]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [23]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [24]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [25]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)

{1, 2, 3, 4, 5}

In [26]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)

{2, 3}

In [27]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {"name": "John", "age": 25, "city": "New York"}
print(info)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [28]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [30]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [32]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [33]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[13, 29, 83, 97, 98]

In [34]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[3])

date

In [35]:
#29.  Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#30. Write a code to convert a list of strings into a set.
words = ['apple', 'banana', 'cherry', 'apple']
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'apple'}